<div class="face-snap-card" [ngClass]="{ snapped: buttonText === 'Oops, un Snap!' }">
  <h2>{{ faceSnap.title  | uppercase }}</h2>
  <a routerLink="/faceSnaps">Back</a>
  <p>Mis en ligne le {{ faceSnap.createdDate | date }}</p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>{{ faceSnap.description }}</p>
  <p *ngIf="faceSnap.location">Ville : {{faceSnap.location}}</p>
  <p>
    <span [ngStyle]="{color: 'rgb(0,' + faceSnap.snaps + ',0)'}">👍 {{ faceSnap.snaps }}</span>
    <button (click)="onSnap()">{{ buttonText }}</button>
  </p>
</div>
