<div class="landing-block">
  <form #emailForm="ngForm" (ngSubmit)="onSubmitForm(emailForm)">
    <label for="emailInput">Inscrivez-vous pour recevoir notre newsletter !</label>
    <input type="email" id="emailInput" [(ngModel)] = "userEmail" name="userEmail">
    <button type="submit">OK!</button>
  </form>
  <img src="../../../assets/snapface.png" alt="Snapface logo">
  <div class="landing-links">
    <!-- Dans routerLink, on n'a même pas besoin de crochets ! Les crochets sont nécessaires à partir
     du moment où vous passez autre chose qu'une chaîne de caractères : un nombre, un objet, ou le
      nom d'une variable ou propriété, par exemple. -->
    <button routerLink="facesnaps" (click)="onContinue()">Continuer vers Snapface</button>
  </div>
</div>
